@page "/fight"
@inject HttpClient Http
@using Models
@inject NavigationManager Navigation
@attribute [Authorize]
<h1>Fight !</h1>

<div class="row justify-content-md-center align-items-end">
    @if (@heroes == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="col-3 text-center">
            <img src="./carte.png" class="img-fluid" alt="Responsive image">
            <div>
                <tbody>
                    <tr>
                        <th scope="row">Nom</th>
                        <td>@champion.Name</td>
                    </tr>
                    <tr>
                        <th scope="row">PV</th>
                        <td>@champion.Pv</td>
                    </tr>
                    <tr>
                        <th scope="row">Attaque</th>
                        <td>@champion.Atk</td>
                    </tr>
                    <tr>
                        <th scope="row">Nombre de Combats</th>
                        <td>@champion.NbFights</td>
                    </tr>
                </tbody>
            </div>
        </div>
        <div class="col-2 text-center">
            <img src="./vs.png" class="img-fluid" alt="Responsive image">
        </div>
        if (@heroes.Count() != 0)
        {
            @for (@i = 0; i < heroes.Count(); i++)
            {
                var @linkTrain = $"fight/{@heroes[i].Id}";
                if (@heroes[i].NbFights == 0)
                {
                    var @id = @heroes[i].Id;
                    <div class="col-2 text-center">
                        <img src="./carte.png" class="img-fluid" alt="Responsive image">
                        <div>
                            <tbody>
                                <tr>
                                    <th scope="row">Nom</th>
                                    <td>@heroes[i].Name</td>
                                </tr>
                                <tr>
                                    <th scope="row">PV</th>
                                    <td>@heroes[i].Pv</td>
                                </tr>
                                <tr>
                                    <th scope="row">Attaque</th>
                                    <td>@heroes[i].Atk</td>
                                </tr>
                                <tr>
                                    <th scope="row">Nombre de Combats</th>
                                    <td>@heroes[i].NbFights</td>
                                </tr>
                            </tbody>
                        </div>
                        <div>
                            <button type="button" class="btn btn-lg text-light" style="background-color:#AD0000;border-color: #9B0000;"
                @onclick="()=>DoFight(id)"><img src="./logo.png" class="img-fluid" alt="Responsive image"></button>

                        </div>
                    </div>
                }
            }
        }
    }
</div>


@code {

    private Hero champion;

    private Hero[] heroes;
    private User user;
    private string email = "cc";
    private int i = 0;



    protected override async Task OnInitializedAsync()
    {
        user = await Http.GetFromJsonAsync<User>($"https://luckyfightcs.alwaysdata.net/User/get/{email}");
        champion = await Http.GetFromJsonAsync<Hero>($"https://luckyfightcs.alwaysdata.net/Hero/champion");
        heroes = await Http.GetFromJsonAsync<Hero[]>("https://luckyfightcs.alwaysdata.net/myheroes/" + user.Id);
    }


    private async void DoFight(int id)
    {
        Navigation.NavigateTo("fight/" + id);
    }
}