@page "/fetchdata"
@inject HttpClient Http
@using APP.Models

<h1>Les champions</h1>
<p>Voici la liste des heros</p>

@if (@heroes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Position</th>
                <th>Nom</th>
                <th>PV</th>
                <th>Attaque</th>
                <th>Nombre de Combats</th>
            </tr>
        </thead>
        <tbody>
            @for (var @i = 0; i < heroes.Count(); i++)
            {
                <tr>
                    <td>@(i+1)</td>
                    <td>@heroes[i].Name</td>
                    <td>@heroes[i].Pv</td>
                    <td>@heroes[i].Atk</td>
                    <td>@heroes[i].NbFights</td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    private Hero[] heroes;

    protected override async Task OnInitializedAsync()
    {
        heroes = await Http.GetFromJsonAsync<Hero[]>("https://luckyfightcs.alwaysdata.net/Hero");
    }
}